*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $body-font;
}

ul {
    list-style: none;
}


img {
    width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;

    @include xLargeMobile {
        padding: 0 2rem;
    }

    @include tablet {
        // padding: 0 1rem;
    }
}

.btn {
    display: block;
    padding: .8rem 1.7rem;
    font-size: 1rem;
    font-family: $body-font;
    font-weight: 600;
    letter-spacing: 1px;
    background-image: linear-gradient(135deg, rgba($purple-color, 1), rgb(248, 7, 47));
    border: 2px solid rgb(248, 7, 47);
    border-radius: 25px;
    color: white;
    border: 2px solid black;
    text-transform: uppercase;
    transition: all .4s;
    cursor: pointer;

    &:hover {
        transform: scaleX(.98);
        color: orange;
        box-shadow: inset 4px 4px 6px black;
    }

    &--clear {
        background-image: none;
        background-color: transparent;
        color: white;
        border: 2px solid rgb(248, 7, 47);

        @include largeTablet {
            color: rgb(248, 7, 47);
            border: none;
        }
    }

    &--margin-t {
        margin-bottom: 1rem;
    }

    &--margin-b-until-largeTablet {
        margin-bottom: 2rem;

        @include largeTablet {
            margin-bottom: 0;
        }
    }

    & .fas {
        margin-left: .5rem;
    }

    &--centered {
        margin: 0 auto;
    }
}
