$purple-color: rgba(124, 40, 171, 1);
$body-font: 'Montserrat', sans-serif;
$headline-font: 'Oswald', sans-serif;


//    Mixins -----------

@mixin pseudo ($position: absolute, $content: "", $display: block) {
    position: $position;
    content: $content;
    display: $display;

}