.footer {


    @include xLargeMobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    }

    @include laptop {
        grid-template-columns: repeat(4, 1fr);
    }



    &__list {
        margin: 2rem 0;
        padding: 1rem 0;
        border-bottom: 1px solid $purple-color;

        @include xLargeMobile {
            border: none;
        }
    }

    &__item {
        margin: 1rem 0;
    }

    &__link {
        font-size: 1.1rem;
        color: darkgray;
    }

    &__text {
        font-size: 1.1rem;
        color: darkgray;
    }

    & .fab {
        font-size: 1.5rem;
        margin: .5rem .8rem .5rem 0;
        color: orange;
    }
}

// Copyright --------------------------

    .copyright .fas {
        color: red;
        margin: 0 .2rem;
    }

