.headline {
    font-size: 1.6rem;
    font-family: $headline-font;
    letter-spacing: 2px;
    margin: 1rem 0;

    @include xLargeMobile {
        font-size: 2rem;
    }

    @include largeTablet {
        font-size: 3rem;
    }

    &--small {
        font-size: 1.4rem;

        @include xLargeMobile {
            font-size: 1.6rem;
        }
    }

    &--centered {
        text-align: center;
    }

    &--purple {
        color: rgba($purple-color, 1);
    }

    &--white {
        color: white;
    }

    &--no-top-margin {
        margin-top: 0;
    }
}