.hotels {

    @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    @include largeTablet {
        grid-column-gap: 3rem;
    }

    &__content {
        @include largeTablet {
            margin-top: 1rem;
        }
    }


    &__card {
        position: relative;
        width: 100%;
        margin: 2rem 0;

    }

    & img {
        object-fit: cover;
    }

    &__hover {
        position: absolute;
        top: 0;
        left: 1rem;

        & .fas {
            font-size: 1.4rem;
            padding: .7rem;
            border-radius: 50%;
            color: $purple-color;
            background-color: #fff;
            opacity: .8;
        }
    }
}